<div class="container">
    <mat-card class="title">Listado de Héroes</mat-card>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <mat-card class="example-card cardHeroes">
                            <mat-card-header>
                                <mat-card-title><strong>Groot</strong></mat-card-title>
                                <mat-card-subtitle>Groot</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image class="imgTam" src="assets/img/groot.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>
                                    Marvel
                                    <br>
                                    <strong>Primera aparición:</strong>
                                    <br>
                                    <strong>Personaje:</strong>
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>Leer más...</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <mat-card class="example-card cardHeroes">
                            <mat-card-header>
                                <mat-card-title><strong>Black Widow</strong></mat-card-title>
                                <mat-card-subtitle>Natasha Romanoff</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image class="imgTam" src="assets/img/blackwidow.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>
                                    Marvel
                                    <br>
                                    <strong>Primera aparición:</strong>
                                    <br>
                                    <strong>Personaje:</strong>
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>Leer más...</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <mat-card class="example-card cardHeroes">
                            <mat-card-header>
                                <mat-card-title><strong>Capitán América
                                </strong></mat-card-title>
                                <mat-card-subtitle>Steve Rogers</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image class="imgTam" src="assets/img/capitanamerica.png" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>
                                    Marvel
                                    <br>
                                    <strong>Primera aparición:</strong>
                                    <br>
                                    <strong>Personaje:</strong>
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>Leer más...</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <mat-card class="example-card cardHeroes">
                            <mat-card-header>
                                <mat-card-title><strong>Iron Man</strong></mat-card-title>
                                <mat-card-subtitle>Tony Stark</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image class="imgTam" src="assets/img/ironman.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>
                                    Marvel
                                    <br>
                                    <strong>Primera aparición:</strong>
                                    <br>
                                    <strong>Personaje:</strong>
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>Leer más...</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <mat-card class="example-card cardHeroes">
                            <mat-card-header>
                                <mat-card-title><strong>Loki</strong></mat-card-title>
                                <mat-card-subtitle>Atreus</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image class="imgTam" src="assets/img/loki.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>
                                    Marvel
                                    <br>
                                    <strong>Primera aparición:</strong>
                                    <br>
                                    <strong>Personaje:</strong>
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>Leer más...</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <mat-card class="example-card cardHeroes">
                            <mat-card-header>
                                <mat-card-title><strong>Spider-Man</strong></mat-card-title>
                                <mat-card-subtitle>Peter Parker</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image class="imgTam" src="assets/img/spiderman.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>
                                    Marvel
                                    <br>
                                    <strong>Primera aparición:</strong>
                                    <br>
                                    <strong>Personaje:</strong>
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>Leer más...</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <mat-card class="example-card cardHeroes">
                            <mat-card-header>
                                <mat-card-title><strong>Thor</strong></mat-card-title>
                                <mat-card-subtitle>Dios del trueno</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image class="imgTam" src="assets/img/thor.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>
                                    Marvel
                                    <br>
                                    <strong>Primera aparición:</strong>
                                    <br>
                                    <strong>Personaje:</strong>
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>Leer más...</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <mat-card class="example-card cardHeroes">
                            <mat-card-header>
                                <mat-card-title><strong>Hulk</strong></mat-card-title>
                                <mat-card-subtitle>Bruce Banner</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image class="imgTam" src="assets/img/hulk.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>
                                    Marvel
                                    <br>
                                    <strong>Primera aparición:</strong>
                                    <br>
                                    <strong>Personaje:</strong>
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>Leer más...</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <mat-card class="example-card cardHeroes">
                            <mat-card-header>
                                <mat-card-title><strong>Doctor Strange</strong></mat-card-title>
                                <mat-card-subtitle>Stephen Vincent Strange</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image class="imgTam" src="assets/img/doctorstrange.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>
                                    Marvel
                                    <br>
                                    <strong>Primera aparición:</strong>
                                    <br>
                                    <strong>Personaje:</strong>
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>Leer más...</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>