<div class="container">
    <mat-card class="title">Listado de Héroes</mat-card>
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <mat-card class="example-card cardHeroes">
                <mat-card-header>
                    <mat-card-title><strong>Groot</strong></mat-card-title>
                    <mat-card-subtitle>Groot</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="imgTam" src="assets/img/groot.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Marvel
                        <br>
                        <strong>Primera aparición:</strong>
                        <br>
                        <strong>Personaje:</strong>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button  [routerLink]="['/detalle']">Leer más...</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-3 col-sm-3">
            <mat-card class="example-card cardHeroes">
                <mat-card-header>
                    <mat-card-title><strong>Doctor Strange</strong></mat-card-title>
                    <mat-card-subtitle>Stephen Vincent Strange</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="imgTam" src="assets/img/doctorstrange.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Marvel
                        <br>
                        <strong>Primera aparición:</strong>
                        <br>
                        <strong>Personaje:</strong>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Leer más...</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-3 col-sm-3">
            <mat-card class="example-card cardHeroes">
                <mat-card-header>
                    <mat-card-title><strong>IronMan</strong></mat-card-title>
                    <mat-card-subtitle>Tony Stark</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="imgTam" src="assets/img/ironman.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Marvel
                        <br>
                        <strong>Primera aparición:</strong>
                        <br>
                        <strong>Personaje:</strong>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Leer más...</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-3 col-sm-3">
            <mat-card class="example-card  cardHeroes">
                <mat-card-header>
                    <mat-card-title><strong>Halcon</strong></mat-card-title>
                    <mat-card-subtitle>Hawkeye </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="imgTam" src="assets/img/halcon.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Marvel
                        <br>
                        <strong>Primera aparición:</strong>
                        <br>
                        <strong>Personaje:</strong>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Leer más...</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>